*
{
    padding: 0;
    margin: 0;
    font-family: arial, Georgia, 'Times New Roman', Times, serif;

}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #f3f9d2;
    background-size: cover;
    background-position: center;
    font-family: arial, Georgia, 'Times New Roman', Times, serif;
}

.menu-bar{
    background: #C0D684;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active,.menu-bar ul li:hover{
    background: #cbeaa6;
    border-radius: 3px;

}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #C0D684;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{

    color: #3d0b37;
}
.interesting{
    background: #f3f9d2;
}
.center{
    text-align: center;
}
.center h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 28px;
}
.interesting-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}
.row{
    background: var(--second-bg-colour);
    padding: 55px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .35s;
}
.row i{
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 2.7rem;
}
.row h3{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
.row p{
    color: var(--second-color);
    line-height: 30px;
    font-size: var(--p-font);
    justify-content: space-evenly;
    text-align: justify;
}
.row img{
    max-width: 100%;
    width: 1000px;
    height: auto;
    border-radius: 15px;
    float: left;
}
.row:hover{
    transform: translateY(-8px);
}
footer{
    background-color: #C0D684;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: beige;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: #C0D684;
    opacity: 0.9;

}

.socialIcons a:hover{
    background-color: #c0d684;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: beige;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;

}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: beige;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #cbeaa6;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: beige;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #533c2b;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}